ul{
    list-style: none;
    text-align: center;

    padding: 0;
    margin: 0;
}


.delete-all{
    cursor: pointer;

    width: calc(100% - calc(1.6rem + var(--px)));
    background: var(--primaryColor);
    border: 2px solid transparent;
    color: #fff;
    font-size: 1.1rem;
    font-family: 600;
    border-radius: 0.7rem 0.7rem 0 0;
    
    margin-inline: auto;
    

    transition: all 0.3s;

    padding-block: 0.1rem;


    &:focus,
    &:hover{
        border: 2px solid var(--primaryColor);
        background: #fff;
        color: var(--primaryColor);
        outline: none;
    }
}