header{
    padding-inline: var(--px);
}

.header{
    position: relative;

    .title{
        text-align: center;
        font-weight: 800;
        font-size: 2.2rem;
        padding-block: 0.3rem;
        margin: 0;
    
        background-image: linear-gradient(35deg, var(--cyan), var(--purple), var(--blue));
        background-position: center;
        animation: bodyAnimation 4s ease 0s infinite alternate;
        background-size: 200% 200%;
    
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


.author{
    text-align: center;
    padding-block: 0.6rem;
    padding-bottom: 1.2rem;
    font-size: 1.1rem;

    a{
        font-weight: bold;
        color: var(--gitHub);

        transition: var(--colorTransition);

        &:focus{
            outline: var(--outline);
        }

        &:hover,
        &:focus{
            color: var(--blue);
        }
    }
}




// Animations

@keyframes bodyAnimation {
    from{
        background-position: 0 100%;
    }

    to{
        background-position: 100% 100%;
    }
}

// End Animations