@mixin activeLabel{
    top: 0%;
    left: 7%;
    background: var(--label-color-bg);
    color: var(--label-color);
}


.custom-container{
    padding-inline: var(--px);
    margin-bottom: 1.4rem;

    width: 100%;

    display: block;
}

form{
    width: 100%;
    position: relative;
    display: flex;

    div{
        width: 90%;
        position: relative;
    

        & > *{
            transition: all 0.4s;
        }
    
        label{
            color: var(--textColor);

    
            user-select: none;
            pointer-events: none;
    
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);

            padding: 0.1rem 0.6rem;
            border-radius: 100vmax;
            
            background: transparent;
            
            transition: top 0.3s ease, left 0.3s ease, background 0.2s ease, color 0.2s ease;

            &.active-label{
                @include activeLabel();
            }

        }

        input{
            width: 100%;
            border: 2px solid var(--bg-color);
            
            border-top-left-radius: var(--rounded-sm);
            border-bottom-left-radius: var(--rounded-sm);

            height: 2.8rem;
            padding-inline: 5% 12%;
            padding-right: 4.6rem;
            font-size: 1.1rem;

            outline: none;

            // transition: all 0.3s;

            &:focus,
            &.active-input{
                border: 2px solid var(--primaryColor);
                box-shadow: 0 0 0 2px rgba(#2f74c0, 0.3);
            }


            &:focus ~ label{
                @include activeLabel();
            }
        }

        button{
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            
            border: none;
            background: transparent;
            color: var(--textColor);
            
            text-align: center;
            font-size: 0.9em;
            cursor: pointer;
            
            width: 3rem;
            
            &:focus,
            &:hover{
                color: var(--primaryColor);
                border-radius: var(--rounded-sm);
            }
            
            &:focus{
                outline: var(--outline);
            }
        }
    }

    button[type="button"]{
        cursor: pointer;
        // width: 10%;
        width: 4rem;

        border: 2px solid var(--primaryColor);
        background: var(--primaryColor);

        
        color: #fff;
        
        border-top-right-radius: var(--rounded-sm);
        border-bottom-right-radius: var(--rounded-sm);
        
        transition: background 0.3s ease, border-color 0.3s ease;
        
        &:focus,
        &:hover{
            outline: none;
            background: var(--primaryColorHSL);
            border-color:  var(--primaryColorHSL);
        }
    }
}

@media (width < 400px) {
    form {
      flex-direction: column;
      gap: .7rem;

      div{
        width: 100%;

        input{
            border-radius: var(--rounded-sm);
        }
      }

      button[type="button"]{
        border-radius: var(--rounded-sm);
        height: 2.8rem;
        width: 100%;
        font-size: 1.1rem;
      }
    }
}