<li class="todo" [appToDoEditing]="isEditing">

    <div class="todo-block todo-block-first">
      <input type="checkbox" [checked]="todo.checked" (click)="check_uncheck()" *ngIf="!isEditing">
      <label class="todo-name" *ngIf="!isEditing" #task_name
        (click)="textTransform(task_name)" (dblclick)="edit()"> {{ todo.task }} </label>


      <div *ngIf="isEditing" class="w-100">
        <div class="w-100 d-flex editing-box">

          
          <div class="editing-tools">
            <button type="button" class="btn submit-edited focus-ring mb-1" (click)="submit_editing()"
            [disabled]="sameTextOrNot">Save</button>
            <button type="button" class="btn cancel-editing focus-ring-danger" (click)="cancel_editing()">Cancel</button>
          </div>
          
          <textarea class="update-todo shadow-sm rounded"#updateTodo
          (input)="riseArea(updateTodo)">{{ todo.task }}</textarea>
        </div>
        
        <div class="additional-info mt-2" *ngIf="isEditing">
          <p>Characters count: <span>{{ editingText_length }}</span></p>
          <p>Date changed: <span>{{ todo.date | date: 'd, MMMM, y'}}</span></p>
        </div>
      </div>
    </div>


    <div class="todo-block todo-block-second">
      <button type="button"  #btn title="Copy" (click)="copy_task_name(btn)">
        <i class="fa-regular fa-copy"></i>
      </button>

      <button type="button"  #btn title="Delete" (click)="deleteTask(btn)">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>

</li>