

.todo{
    position: relative;

    padding-block: 0.8rem;
    padding-inline: var(--px);
    margin-bottom: 1rem;

    font-weight: 600;
    color: var(--black);

    box-shadow: inset 0 3px 2px 1px transparent;

    border-bottom: 2px solid rgb(102, 151, 204, 0.4);

    transition: transform 0.5s ease-in, opacity 0.5s, box-shadow 0.3s;


    &.selected{
        box-shadow: inset 0 3px 2px 1px rgba(black, .3);

        min-height: 8.5rem;
        max-height: 20rem;

        .todo-block-first{
            max-width: 100%;
            height: 100%;
        }

        &::after{
            content: '';
    
            cursor: grab;
    
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
    
            display: block;
            width: 40%;
            height: 8px;
            border-radius: 3px;
    
            background: var(--primaryColor);
        }
    }

    &:hover{
        .todo-block:last-child{
            opacity: 1;
        }

        input[type="checkbox"]{
            border: 2px solid var(--primaryColor);
        }
    }

    &-block{
        display: flex;
        gap: 1rem;
        position: relative;

        &.todo-block-first{
            width: 100%;
        }

        .submit-edited,
        .cancel-editing{
            width: 100%;
            height: min-content;
            padding: 0.3rem 1rem;
            color: #fff;
            border: none;
        }       
        .submit-edited{
            background: var(--primaryColor) !important;
        }
        .cancel-editing{
            background: rgb(168, 16, 16) !important;
        }

        input[type = 'checkbox']{
            margin-block: auto;
            position: relative;
            cursor: pointer;
            appearance: none;
            flex-shrink: 0;
            width: 1.2rem;
            height: 1.2rem;

            transition: border 0.3s ease;

            &:focus{
                outline: var(--outline);
            }

            border-radius: 5px;
            border: 2px solid var(--textColor);
            
            &:hover{
                border: 2px solid var(--primaryColor);
            }

            &::after{
                content: '';
                pointer-events: none;
                user-select: none;

                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: "Font Awesome 5 Free";
                font-size: 0.8rem;
                font-weight: 900;
                color: #fff;
            }

            &:checked{
                border: 2px solid var(--primaryColor);
                background: var(--primaryColor);

                &::after{
                    content: "\f00c";
                }


                & ~ .todo-name{
                    text-decoration: line-through;
                    text-decoration-thickness: 2px;
                    text-decoration-color: var(--primaryColor);
                    color: var(--textColor);
                }
            }
        }

        .todo-name,
        .update-todo{
            overflow: hidden;
            width: 100%;

            border: none;
            outline: none;

            font-size: 1rem;
        }

        .update-todo{
            width: 100%;
            height: 100% !important;

            padding: 0.6rem;

            margin-left: 1rem;

            overflow: auto;

            resize: none;
        }


        .todo-name{
            max-width: var(--defaultTextLength);
            color: var(--primary-text-color);
            text-overflow: ellipsis; /* Show an ellipsis (...) when text overflows */
            white-space: nowrap;
            // text-transform: capitalize;

            cursor: pointer;
            text-align: start;
            
            &.expanded{
                white-space: normal;
                // word-break: break-all;
                word-wrap: break-word;
            }
        }



        &.todo-block-second{
            transition: opacity 0.3s;
            opacity: 0.5;
            
            button{
                font-size: 1.1rem;
                border: none;
                background: transparent;
                border-radius: 3px;
            }
            
            & > *{
                cursor: pointer;
                opacity: 0.5;
                transition: opacity 0.3s;
                
                &:hover{
                    opacity: 1;
                }
            }

            .fa-copy{
                color: var(--textColor);
            }
            .fa-trash{
                color: rgb(226, 9, 9);
            }
        }
    }    
}

button:focus{
    outline: var(--outline);
}

  
// @include labelWidths;


.additional-info{
    p{
        margin: 0;
        color: var(--textColor);
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (width <= 570px) {
    .todo.selected{
        min-height: 14.8rem;
        max-height: 25rem;
    }

    .todo-block .update-todo{
        margin: 0;
        margin-top: 0.7rem;
    }

    .editing-box{
        flex-direction: column;
    }

    .additional-info{
        flex-direction: column;

        p:first-child{
            margin-top: 5px;
        }
    }
}