@import 'app/Styles/CustomStyles';


////////////////////////////////////
/// Basic styles
////////////////////////////////////

*, *::after, *::before{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

/// End Basic styles

////////////////////////////////////
// Custom variables
////////////////////////////////////



@each $color, $value in $theme-light {
    :root {
        --#{$color}: #{$value};
    }
}

@each $parameter, $value in $other_variables {
    :root {
        --#{$parameter}: #{$value};
    }
}


    
@each $color, $value in $theme-dark {
    body[data-bs-theme='dark']{
        --#{$color}: #{$value};
    }
}


// Custom variables


////////////////////////////////////
/// Custom scroll bar
////////////////////////////////////

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-radius: 100vmax;
    background: var(--primaryColorHSL);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primaryColor);
}

/// End Custom scroll bar


body{
    padding-top: 4vh;
    padding-top: 4dvh;
    background: var(--bg-color) !important;

    min-height: 100vh;
    min-height: 100dvh; // will ovveride
}


*:not(.title)::selection{
    background: var(--primaryColor);
    color: #fff;
}

*:not(i){
    font-family: 'Poppins', sans-serif;
}

body[data-bs-theme='dark']{
    .todo-block-second{
        opacity: 1 !important;
    }

    .todo{
        border-image: linear-gradient(35deg, rgba($cyan, 0.4), rgba($blue, 0.4), rgba($dark-purple, 0.4));
        border-image-slice: 0 0 100% 0;
    }
}